@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Montserrat:wght@500&display=swap');

/* Scrollbar css start */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(143, 143, 143);
    
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

/* Scrollbar css done */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* navbar css start */

.nav-link {
    color: white;
    font-size: 12px;
}

.nav-link:hover {
    color: rgb(143, 143, 143);
}

/* navbar css done */
/* picky blinder css start */
.mainsec {
    color: rgb(143, 143, 143);
    font-family: 'Cormorant Garamond', serif;
    background: url(../images/background.png) no-repeat center;
    background-size: contain;
    height: 600px;
}

.name {
    /* font-size: 60px; */
    color: rgb(184, 184, 184);

}

/* picky blinder css done */
/* Vertical Line css start */

.v1 {
    height: 100px;
    width: 1px;
    margin: auto;
    margin-top: -75px;
    border-left: 2px solid rgb(143, 143, 143);
}

@media screen and (max-width: 767px) {
    .v1 {
        margin-top: 66px;
    }
}

@media screen and (max-width: 600px) {
    .v1 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 400px) {
    .v1 {
        margin-top: 20px;
        margin-bottom: -30px;
    }
}

/* Vertical Line css done */

/* clips css start */

.clipsvideo {
    height: 350px;
    width: 450px;
    margin: auto;
    display: block;
}

@media screen and (max-width: 1100px) {
    .clipsvideo {
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 920px) {
    .clipsvideo {
        height: 200px;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .clipsvideo {
        height: 350px;
        width: 450px;
    }
}

@media screen and (max-width: 560px) {
    .clipsvideo {
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .clipsvideo {
        height: 150px;
        width: 250px;
    }
}

@media screen and (max-width: 340px) {
    .clipsvideo {
        height: 120px;
        width: 220px;
    }
}

@media screen and (max-width: 290px) {
    .clipsvideo {
        height: 180px;
        width: 210px;
        margin: none;
    }
}

/* clips css done */

/* gallery css start */
/* gallery css done */

/* cast css start */

.castbox {
    border: 2px solid rgb(143, 143, 143);
    border-radius: 20px;
}

/* cast css done */

/* footer css start */

footer{
    background-color: #000000;
    color: rgb(143, 143, 143);
}
.btn-outline-light{
    color: rgb(143, 143, 143);
    border-color: rgb(143, 143, 143);
}
a{
    color: rgb(143, 143, 143);
}
a:hover{
    color: white;
}
/* footer css done */



/* progressbar and back to top button css start */
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

.back-to-top-icon:hover {
    /* opacity: 60%; */
    color: white;
}

.back-to-top-icon {
    color: rgb(143, 143, 143);
    font-size: 40px;
}

.hidden {
    opacity: 0%;

}

.progress-bar {
    height: 3px;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
}

/* progressbar and back to top button css done */


